.container{
	text-align: center;
}
.showcase {
	min-height: 400px;
	text-align: center;
	background-color: #00305e;
	color: white;
	padding-top: 1px;
}
.showcase h1{
	padding-top: 70px;
	font-size:55px;
	margin-bottom: 10px;
}
.showcase p{
	padding-top: 25px;
	font-size: 20px
}

.boxes {
	margin-top: 20px;
}
.box {
	float: left;
	text-align: center;
	width: 44%;
	padding: 20px;
	color: black;
}

.alumni {
	text-align: center;
}

.showMajorMenu{
    display: block;
}

.hideMajorMenu{
    display: none!important;
}

.category {
	font-style: bold;
}

.button:hover {
	background-color: #c9c7c5f3;
}

.idk{
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: bold;
} 

.job, .update, .major{
	text-align: center;
	display: block;
	font-size: 25px;
	font-weight: bold;
}

.entries{
	text-align: center;
	display: inline-block;
	float: center;
	color: black;
	border-collapse: collapse;
	border: solid 2px;
}

